@model PagedList.IPagedList<WebView.WebService._base.PURM>
@{
    ViewBag.Title = "PURM_List";
}
<script type="text/javascript">

    function GetDetailsCallBack(data) {
        document.getElementById("divDetails").style.display = "block";

        SetElement("txtPU_ID", data.x_PU_ID);
        SetElement("txtPU_ID1", data.x_PU_ID);
        SetElement("txtPU_DESC", data.x_PU_DESC);
        SetElement("txtINST_CODE", data.x_INST_CODE);
        SetElement("txtINST_NAME", data.x_INST_NAME);
        SetElement("txtCTRT_SUP_QTY", data.x_CTRT_SUP_QTY);
        SetElement("txtSUB_LAB_QTY", data.x_SUB_LAB_QTY);
        SetElement("txtIMPL_LAB_QTY", data.x_IMPL_LAB_QTY);
        SetElement("txtDUR_SPVR", data.x_DUR_SPVR);
        SetElement("txtDUR_IMPL", data.x_DUR_IMPL);
        SetText("txtPU_ID", data.x_PU_ID);

        document.getElementById("targetPURM").value = data.x_PU_ID;
        document.getElementById("btnClose").disabled = false;
                
    }

    function SaveUpdateCallBack(data) {
        document.getElementById("txtPU_ID1").readOnly = true;
        document.getElementById("txtPU_DESC").readOnly = true;
        document.getElementById("txtINST_CODE").readOnly = true;
        document.getElementById("txtINST_NAME").readOnly = true;
        document.getElementById("txtCTRT_SUP_QTY").readOnly = true;
        document.getElementById("txtSUB_LAB_QTY").readOnly = true;
        document.getElementById("txtIMPL_LAB_QTY").readOnly = true;
        document.getElementById("txtDUR_SPVR").readOnly = true;
        document.getElementById("txtDUR_IMPL").readOnly = true;
        //document.getElementById("btnSave").disabled = true;

        if (data.Success == true) {
            alert("Successfully Updated.");
            document.getElementById("divDetails").style.display = "none";
            window.location.reload();
        }
    }

    jQuery(document).ready(function ($) {
        
        $("#rounded-corner tbody tr").bind("click", function () {
            var t = $(this).find("#gid").text();

            $("#divDetails").dialog("open");

            $.ajax({
                url: '@Url.Action("GetDetails_PURM", "PURM")',
                type: "POST",
                dataType: "html",
                data: {
                    "id": t,
                    "random": Math.random()
                },
                beforeSend: function () { },
                success: function (data) {
                    var res = jQuery.parseJSON(data);

                    GetDetailsCallBack(res);
                    //$.msgBox("Please la."); 
                }
            });
        });

        var close = function () {
            $(this).dialog("close");
        }

        $("#divDetails").dialog({
            autoOpen: false,
            height: 330,
            width: 700,
            modal: true,
            buttons: {
            },
            close: function () {
                //allFields.val("").removeClass("ui-state-error");
            }
        });

        $(function () {

            $("#txtCTRT_SUP_QTY").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });

            $("#txtSUB_LAB_QTY").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });

            $("#txtIMPL_LAB_QTY").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });

            $("#txtDUR_SPVR").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });

            $("#txtDUR_IMPL").keydown(function (event) {
                // Allow only backspace and delete
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                        event.preventDefault();
                    }
                }
            });

            $('#btnSearch').click(function () {
                window.location = "PURM_List?searchKey=" + document.getElementById("searchKey").value; //Where List is the function in the controller.
            });

            $('#searchKey').change(function () {
                window.location = "PURM_List?searchKey=" + document.getElementById("searchKey").value; //Where List is the function in the controller.
            });

            $('#btnClose').click(function () {
                $("#divDetails").dialog("close");
            });

            $('#btnNewJob').click(function () {
                window.location = "PURM_NewJob";
            });
            
            $("#btnNewJob").button();
            $("#btnSearch").button();
            $("#btnClose").button();
            $("#btnDelete").button();
            $("#btnSave").button();

            $('#btnDelete').click(function () {
                var cmsg = confirm('Are you sure you want to Delete?');
                if (cmsg != 0) {
                    $.ajax({
                        url: "/PURM/DeleteData_PURM",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "targetPURM": document.getElementById("targetPURM").value,
                            "random": Math.random()
                        },
                        beforeSend: function () { },
                        success: function (data) {
                            var res = jQuery.parseJSON(data);

                            if (res.Success == true) {
                                alert("Deleted");
                                window.location.reload();
                            }
                            else {
                                alert("Delete failed.");
                            }
                        }
                    });
                }
            });


        });
    });

    function ShowIt() {
        document.getElementById("divLoading").style.visibility = "visible";
    }

    function HideIt() {
        document.getElementById("divLoading").style.visibility = "hidden";
    }

   
</script>

<br />
<h2>Plant Unit Resource Maintenance(Copper) List</h2>
<div style="height:650px">
    <div>
        <table style="width:850px;">
            <tr>
                <td style="width:200px;"><input type="text" id="searchKey" name="searchKey"  value="@ViewBag.searchKey"/></td>
                <td><input type="button" value="Search" id="btnSearch" /></td>
                <td style="text-align:right"><input type="button" value="Add New" id="btnNewJob" /></td>
            </tr>
        </table>
    </div><br />
    @if (Model.Count() > 0)
    {
    <table id="rounded-corner" summary="Plant Unit List" width="850px">
        <thead>
            <tr>                
                <th scope="col" style="width:100px">ID</th>
                <th scope="col" style="width:100px">DESCRIPTION</th>
                <th scope="col" style="width:100px">INSTALL CODE</th>
                <th scope="col" style="width:100px">INSTALL NAME</th>
                <th scope="col" style="width:100px">CTRT SUP QTY</th>
                <th scope="col" style="width:100px">SUB LAB QTY</th>
                <th scope="col" style="width:100px">IMPL LAB QTY</th>
                <th scope="col" style="width:100px">DURATION SPVR</th>
                <th scope="col" style="width:100px">DURATION IMPL</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var res in Model)
        {
            <tr class="odd">               
                <td id="gid">@res.PU_ID</td>
                <td>@res.PU_DESC</td>
                <td>@res.INST_CODE</td>
                <td>@res.INST_NAME</td>
                <td>@res.CTRT_SUP_QTY</td>
                <td>@res.SUB_LAB_QTY</td>
                <td>@res.IMPL_LAB_QTY</td>
                <td>@res.DUR_SPVR</td>
                <td>@res.DUR_IMPL</td>
                @*<td>@Ajax.ActionLink("View", "GetDetails_PURM", new { id = res.PU_ID }, new AjaxOptions
               {
                   HttpMethod = "POST",
                   OnBegin = "ShowIt",
                   OnComplete = "HideIt",
                   UpdateTargetId = "divResultText",
                   OnSuccess = "GetDetailsCallBack"
               })</td>*@
            </tr>    
        }
        </tbody>
     </table>
     <div> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        &nbsp;
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "List", new { searchKey = "", page = 1 })
            @Html.Raw("&nbsp;");
            @Html.ActionLink("< Prev", "List", new { searchKey = "", page = Model.PageNumber - 1 })
        }
        else
        {

        }
        &nbsp;
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "List", new { searchKey = "", page = Model.PageNumber + 1 })
            @Html.Raw("&nbsp;");
            @Html.ActionLink(">>", "List", new { searchKey = "", page = Model.PageCount })
        }
        else
        {

        }
    </div>     
    }
    else
    {
        @:<br /><span style="font-size:12px;">No record found.</span> 
    }     
    <br />
    <div id="divLoading" style="visibility:hidden"><img src="@Url.Content("~/Content/images/rel_interstitial_loading.gif")" alt="loading..." /></div>
    <div id="divResultText"></div>
    <br />
    <div id="divDetails" title="Details" style="padding-left:40px; padding-top:30px;">
        <input type="hidden" id="txtPU_ID" value="" />
         <input type="hidden" id="targetPURM" value="" />
        @using (Ajax.BeginForm("UpdateData_PURM", new AjaxOptions()
        {
            OnBegin = "ShowIt",
            OnComplete = "HideIt",
            OnSuccess = "SaveUpdateCallBack"
        }))
        {
        <div id="list-details">
            <table width="600px">
                <tr>
                    <td style="width:100px; background-color:#e8eef4">ID</td>
                    <td><input type="text" id="txtPU_ID1" name="txtPU_ID" readonly /></td>
                    <td style=" border-top-color:White; border-bottom-color:White"></td>
                    <td style="width:100px;background-color:#e8eef4">Description</td>
                    <td><input type="text" id="txtPU_DESC" name="txtPU_DESC" /></td>
                </tr>
                <tr>
                    <td style="width:100px; background-color:#e8eef4">Install Code</td>
                    <td><input type="text" id="txtINST_CODE" name="txtINST_CODE" /></td>
                    <td style=" border-top-color:White; border-bottom-color:White"></td>
                    <td style="width:100px;background-color:#e8eef4">Install Name</td>
                    <td><input type="text" id="txtINST_NAME" name="txtINST_NAME" /></td>
                </tr>
                <tr>
                    <td style="width:100px; background-color:#e8eef4">CTRT SUP QTY</td>
                    <td><input type="text" id="txtCTRT_SUP_QTY" name="txtCTRT_SUP_QTY" /></td>
                    <td style=" border-top-color:White; border-bottom-color:White"></td>
                    <td style="width:100px;background-color:#e8eef4">SUB LAB QTY</td>
                    <td><input type="text" id="txtSUB_LAB_QTY" name="txtSUB_LAB_QTY" /></td>
                </tr>
                <tr>
                    <td style="width:100px; background-color:#e8eef4">IMPL LAB QTY</td>
                    <td><input type="text" id="txtIMPL_LAB_QTY" name="txtIMPL_LAB_QTY" /></td>
                    <td style=" border-top-color:White; border-bottom-color:White"></td>
                    <td style="width:100px;background-color:#e8eef4">Duration SPVR</td>
                    <td><input type="text" id="txtDUR_SPVR" name="txtDUR_SPVR" /></td>
                </tr>
                <tr>
                    <td style="width:100px; background-color:#e8eef4">Duration IMPL</td>
                    <td><input type="text" id="txtDUR_IMPL" name="txtDUR_IMPL" /></td>
                    <td style=" border-top-color:White; border-bottom-color:White"></td>
                    <td style="width:100px;background-color:#e8eef4"></td>
                    <td></td>
                </tr>            
                </table>
            <div style="height:30px; margin-top:10px; margin-left:10px;">
                <input type="button" value="Delete" id="btnDelete" style="height:30px;width:80px; vertical-align:top;" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Save" id="btnSave" style="height:30px;width:80px; vertical-align:top;" />
                <input type="button" value="Cancel" id="btnClose" style="height:30px;width:80px;" />
            </div>
        </div>
        }
    </div>
</div>
    
