@model WebView.Models.StateMaintenanceModel

@{
    ViewBag.Title = "StateMaintenance";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(function () {
            $("#btnSave").button();
        });
    });
</script>
<br />
<h2>New State Maintenance</h2>
@using (Html.BeginForm("NewStateMaintenance", "StateMaintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Error. Please correct the errors and try again.");
    <table width="450px" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>State Id</td>
            <td>
                @Html.TextBoxFor(m => m.StateId, new { style = "width:200px;" })
                @Html.ValidationMessageFor(m => m.StateId)
            </td>
        </tr>
        <tr>
            <td>State Name</td>
            <td>
                @Html.TextBoxFor(m => m.StateName, new { style = "width:200px;" })
                @Html.ValidationMessageFor(m => m.StateName)
            </td>
        </tr>
        <tr>
            <td>Region Id</td>            
            <td>@Html.DropDownListFor(m => m.RegionId, (IEnumerable<SelectListItem>)ViewBag.RegionId, new { style = "width:200px;" })</td>
        </tr>                   
    </table>
    <p>
        <input type="submit" value="Save" id="btnSave" />
    </p>                                                                                 
}
