@model PagedList.IPagedList<WebView.WebService._base.ANDMaintenance>
@{
    ViewBag.Title = "List";
}

<script type="text/javascript">

    function GetDetailsCallBack(data) {
        document.getElementById("divDetails").style.display = "block";

        SetElement("txtCanCode", data.CanCode);
        SetElement("txtCanName", data.CanName);
        SetElement("txtRegionId", data.RegionId);
        SetElement("txtTargetEcp", data.TargetEcp);

        SetElement("ExcAbbVal", data.CanCode);
        document.getElementById("targetExcAbb").value = data.CanCode;
        document.getElementById("btnClose").disabled = false;
        document.getElementById("txtExcAbb").disabled = true;
    }

    function SaveUpdateCallBack(data) {
        if (data.Success == true) {
            alert("Successfully Updated.");
            document.getElementById("divDetails").style.display = "none";
            window.location.reload();
        }
    }

    jQuery(document).ready(function ($) {

        $("#rounded-corner tbody tr").bind("click", function () {
            var t = $(this).find("#gid").text();

            $("#divDetails").dialog("open");

            $.ajax({
                url: '@Url.Action("GetDetails", "AND")',
                type: "POST",
                dataType: "html",
                data: {
                    "id": t,
                    "random": Math.random()
                },
                beforeSend: function () { },
                success: function (data) {
                    var res = jQuery.parseJSON(data);

                    GetDetailsCallBack(res);

                    var itemsPU = "<option value='" + res.ExcType + "'>" + res.ExcType + "</option>";
                    $("#txtExcType").html(itemsPU);

                    //                    dataPu = res.Exctypes.split("|");

                    //                    var items = "<option selected></option>";
                    //                    for (i = 1; i < dataPu.length; i++) {
                    //                        if (dataPu[i] != "") {
                    //                            items += "<option value='" + dataPu[i] + "'>" + dataPu[i] + "</option>";
                    //                        }
                    //                    }
                    //                    $("#txtExcType").html(items);
                    //$.msgBox("Please la."); 
                }
            });
        });

        var close = function () {
            $(this).dialog("close");
        }

        $("#divDetails").dialog({
            autoOpen: false,
            minHeight: 'auto',
            width: 700,
            modal: true,
            buttons: {
            },
            close: function () {
                //allFields.val("").removeClass("ui-state-error");
            }
        });

        $(function () {
            $('#btnClose').click(function () {
                $("#divDetails").dialog("close");
            });

            $('#btnSearch').click(function () {
                window.location = "List?searchKey=" + document.getElementById("searchKey").value; //Where List is the function in the controller.
            });

            $('#searchKey').change(function () {
                window.location = "List?searchKey=" + document.getElementById("searchKey").value; //Where List is the function in the controller.
            });

            $('#btnNewJob').click(function () {
                window.location = "NewAND";
            });

            $("#btnNewJob").button();
            $("#btnSearch").button();
            $("#btnClose").button();
            $("#btnDelete").button();
            $("#btnSave").button();

            $('#btnDelete').click(function () {
                var cmsg = confirm('Are you sure you want to Delete?');
                if (cmsg != 0) {
                    $.ajax({
                        url: "/AND/DeleteData",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "targetExcAbb": document.getElementById("targetExcAbb").value,
                            "random": Math.random()
                        },
                        beforeSend: function () { },
                        success: function (data) {
                            var res = jQuery.parseJSON(data);

                            if (res.Success == true) {
                                alert("Deleted");
                                window.location.reload();
                            }
                            else {
                                alert("Delete failed.");
                            }
                        }
                    });
                }
            });
        });
    });

    function ShowIt() {
        document.getElementById("divLoading").style.visibility = "visible";
    }

    function HideIt() {
        document.getElementById("divLoading").style.visibility = "hidden";
    }

</script>

<br />
<h2>AND Maintenance List</h2>
<div style="height:650px">
    <div>
        <table style="width:850px;">
            <tr>
                <td style="width:200px;"><input type="text" id="searchKey" name="searchKey"  value="@ViewBag.searchKey"/></td>
                <td><input type="button" value="Search" id="btnSearch" /></td>
                <td style="text-align:right"><input type="button" value="Add New" id="btnNewJob" /></td>
            </tr>
        </table>
    </div><br />
@if (Model.Count() > 0)
{
    <table id="rounded-corner" summary="ExchangeMaintenance List" width="850px">
        <thead>
            <tr>
                <th scope="col">AND ID</th>
                <th scope="col">AND Name</th>
                <th scope="col">Region ID</th>
                <th scope="col">Target ECP</th>                          
            </tr>
        </thead>
        <tbody>
        @foreach (var res in Model)
        {
            <tr class="odd">
                <td id="gid">@res.AND_ID</td>
                <td>@res.AND_NAME</td>
                <td>@res.REGION_ID</td>
                <td>@res.TARGET_ECP</td>
            </tr>    
        }
        </tbody>
    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        &nbsp;
        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("<<", "List", new { searchKey = "", page = 1 })
            @Html.Raw("&nbsp;");
            @Html.ActionLink("< Prev", "List", new { searchKey = "", page = Model.PageNumber - 1 })
        }
        else
        {

        }
        &nbsp;
        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "List", new { searchKey = "", page = Model.PageNumber + 1 })
            @Html.Raw("&nbsp;");
            @Html.ActionLink(">>", "List", new { searchKey = "", page = Model.PageCount })
        }
        else
        {

        }<br /><b>Total @Model.TotalItemCount Record</b>
    </div>
}
else
{
        @:<br /><span style="font-size:12px;">No record found.</span> 
    }
    <br />
    <div id="divLoading" style="visibility:hidden"><img src="@Url.Content("~/Content/images/rel_interstitial_loading.gif")" alt="loading..." /></div>
    <div id="divResultText"></div>
    <br />
    <div id="divDetails" title="Details" style="padding-left:40px; padding-top:30px;">      
        <input type="hidden" id="targetExcAbb" value="" />
        @using (Ajax.BeginForm("UpdateData", new AjaxOptions()
        {
            OnBegin = "ShowIt",
            OnComplete = "HideIt",
            OnSuccess = "SaveUpdateCallBack"
        }))
        {
        <div id="list-details" style="height:240">
           <input type="hidden" id="ExcAbbVal" name="ExcAbbVal" />
            <table width="500px">
            
                <tr>
                    <td style="width:150px; background-color:#e8eef4">AND ID</td>
                    <td><input type="text" id="txtCanCode" name="txtCanCode" /></td>
                </tr>
                <tr>
                    <td style=" border-top-color:White; border-bottom-color:White">AND Name</td>
                    <td><input type="text" name="txtCanName" id="txtCanName" /></td>
                </tr>
                <tr>
                    <td style="width:150px; background-color:#e8eef4">Region ID</td>
                    <td><input type="text" id="txtRegionId" name="txtRegionId" /></td>
                </tr>
                <tr>
                    <td style=" border-top-color:White; border-bottom-color:White">Target ECP</td>
                    <td><input type="text" name="txtTargetEcp" id="txtTargetEcp" /></td>  
                </tr>                                        
            </table>
            <br />            
            <div style="height:30px; margin-top:10px; margin-left:10px;">
                <input type="button" value="Delete" id="btnDelete" style="height:30px;width:80px; vertical-align:top;" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Save" id="btnSave" style="height:30px;width:80px; vertical-align:top;" />
                <input type="button" value="Cancel" id="btnClose" style="height:30px;width:80px;" />
            </div>
        </div>
        }
        <br />
        <br />
    </div>
</div>
    


