@{
    ViewBag.Title = "CheckJobNIS";
}

<script type="text/javascript">
    function getDetailsCheckJob(data, typetable) {

        var tblC = document.getElementById(typetable);
        for (var i = tblC.rows.length - 1; i > 0; i--) {
            tblC.deleteRow(i);
        }

        Row = data.split('[');
        var tab = document.getElementById(typetable);

        for (var p = 0; p < Row.length - 1; p++) {
            var row = tab.insertRow(p + 1);
            row.style.background = "#e8eef4";
            row.style.whiteSpace = "nowrap";

            splitData = Row[p + 1].split('|');

            for (var i = 0; i <= splitData.length; i++) {
                row.insertCell(i);
                if (i == 0) continue;
                tab.rows[p + 1].cells[i].innerHTML = splitData[i - 1];
            }
        }
    }

    jQuery(document).ready(function ($) {
        $("#rounded-corner tbody tr").bind("click", function () {
            var t = $(this).find("#gid").text();

            $("#divDetails").dialog("open");
            $.ajax({
                url: '@Url.Action("CheckJobResult", "Job")',
                type: "POST",
                dataType: "html",
                data: {
                    "typeOfInte": t,
                    "id": document.getElementById("jobID").value,
                    "hasFnoRelated": document.getElementById("hasFnoRelated").value
                },
                beforeSend: function () {
                    document.getElementById("loadingscheckJob").style.display = "block";
                },
                success: function (data) {
                    var res = jQuery.parseJSON(data);
                    document.getElementById("loadingscheckJob").style.display = "none";
                    if (t == "Create Network Element" && res.LoadOrCreate != "") {
                        document.getElementById("tabCreateNe").style.display = "block";
                        typetab = "tabCreateNe1";
                        var CreateNE = res.LoadOrCreate;
                        getDetailsCheckJob(CreateNE, typetab);
                    }

                    else if (t == "Create Card" && res.LoadOrCreate != "") {
                        document.getElementById("tabCreateCard").style.display = "block";
                        typetab = "tabCreateCard1";
                        var CreateCard = res.LoadOrCreate;
                        getDetailsCheckJob(CreateCard, typetab);
                    }

                    else if (t == "Create Frame Container" && res.LoadOrCreate != "") {
                        document.getElementById("tabCreateFC").style.display = "block";
                        typetab = "tabCreateFC1";
                        var CreateFC = res.LoadOrCreate;
                        getDetailsCheckJob(CreateFC, typetab);
                    }

                    else if (t == "Create Frame Unit" && res.LoadOrCreate != "") {
                        document.getElementById("tabCreateFU").style.display = "block";
                        typetab = "tabCreateFU1";
                        var CreateFC = res.LoadOrCreate;
                        getDetailsCheckJob(CreateFC, typetab);
                    }

                    else if (res.LoadOrCreate.trim() == "") {
                        document.getElementById("Nodata").style.display = "block";
                    }
                }
            });
        });

        $("#divDetails").dialog({
            autoOpen: false,
            height: 550,
            width: 1000,
            modal: true,
            buttons: {
            },
            close: function () {
                document.getElementById("tabCreateNe").style.display = "none";
                document.getElementById("tabCreateCard").style.display = "none";
                document.getElementById("tabCreateFC").style.display = "none";
                document.getElementById("tabCreateFU").style.display = "none";
                document.getElementById("Nodata").style.display = "none";
            }
        });
        //Fatihin 16052018
        $(function () {

            document.getElementById("loading").style.display = "none";

            $('#submToNis').click(function () {
                $.ajax({
                    url: "/Job/GetStatus",
                    type: "POST",
                    dataType: "html",
                    data: {
                        "id": document.getElementById("jobID").value
                    },
                    beforeSend: function () {
                        document.getElementById("loading").style.display = "block";
                    },
                    success: function (data) {
                        var res = jQuery.parseJSON(data);
                        document.getElementById("loading").style.display = "none";

                        if (res.checkNIS != 0) {
                            alert("Integration process is running. Please try again in a while.");
                        }
                        else if (res.checkNISISP != 0) {
                            alert("Integration process is running. Please try again in a while.");
                        }
                        else {
                            var type = document.getElementById("type").value;
                            if (type == "OSP") {
                                AutoApproval();
                            }
                            else {
                                ISPApproval();
                            }
                            //temporary 11/2/2019
                            // NISApproval();

                        }
                    }
                });
            });
            $("#submToNis").button();
        });
        function NISApproval() {
            var cmsg = confirm('Are you sure you want to Handover?');
            if (cmsg != 0) {
                // alert("a");
                $.ajax({
                    url: "/Job/NISApproval",
                    type: "POST",
                    dataType: "html",
                    data: {
                        "targetJob": document.getElementById("jobID").value,
                        "type": document.getElementById("type").value
                    },
                    beforeSend: function () {
                        document.getElementById("loading").style.display = "block";
                    },
                    success: function (data) {
                        var res = jQuery.parseJSON(data);
                        document.getElementById("loading").style.display = "none";

                        if (res.result == "ok") {
                            alert("Handed Over.");
                            window.location.reload();
                        }
                        else {
                            alert("Handover Started. Please comfirm the feature state already 'ASB' in G-TECH to change job state.");
                            window.location.reload();
                        }
                    }
                });
            }
        }
        function AutoApproval() {
            //alert('OSP');
            var cmsg = confirm('Are you sure you want to Handover?');
            if (cmsg != 0) {
                $.ajax({
                    url: "/Job/AutoApproval",
                    type: "POST",
                    dataType: "html",
                    data: {
                        "targetJob": document.getElementById("jobID").value,
                        "type": document.getElementById("type").value
                    },
                    beforeSend: function () {
                        document.getElementById("loading").style.display = "block";
                    },
                    success: function (data) {
                        var res = jQuery.parseJSON(data);
                        document.getElementById("loading").style.display = "none";

                        if (res.result == "ok") {
                            alert("Handed Over.");
                            window.location.reload();
                        }
                        else {
                            alert("Handover Started. Please comfirm the feature state already 'ASB' in G-TECH to change job state.");
                            window.location.reload();
                        }
                    }
                });
            }
        }
        function ISPApproval() {
            var cmsg = confirm('Are you sure you want to Handover?');
            if (cmsg != 0) {
                //alert('ISP');
                $.ajax({
                    url: "/Job/ISPAutoApproval",
                    type: "POST",
                    dataType: "html",
                    data: {
                        "targetJob": document.getElementById("jobID").value,
                        "type": document.getElementById("type").value
                    },
                    beforeSend: function () {
                        document.getElementById("loading").style.display = "block";
                    },
                    success: function (data) {
                        var res = jQuery.parseJSON(data);
                        document.getElementById("loading").style.display = "none";

                        if (res.result == "ok") {
                            alert("Handed Over.");
                            window.location.reload();
                        }
                        else {
                            alert("Handover Started. Please comfirm the feature state already 'ASB' in G-TECH to change job state.");
                            window.location.reload();
                        }
                    }
                });
            }
        }
        //Fatihin 16052018
        $('#btnHandoverStatus').click(function () {
            var jobtype = document.getElementById("type").value;

            if (jobtype == 'ISP') {

                window.location = "ViewHandoverISP?id=" + document.getElementById("jobID").value + "&type='NIS'";
            }
            else {
                window.location = "ViewHandover?id=" + document.getElementById("jobID").value + "&type='NIS'";
            }
        });
        $("#btnHandoverStatus").button();
    });
</script>

<br/>
<h3>Job Management > Check Job NIS For @ViewBag.schemeName</h3>
<div style="height:650px">
     <div id="loading">
        <img id="loading-image"  src="@Url.Content("~/Content/images/loadingpls.gif")" alt="Loading..."  />
     </div>
<input type="button" value="Submit to NIS" id="submToNis" style="height:30px; left:67%"/>
<input type="button" value="View Handover Status" id="btnHandoverStatus" style="height:30px; left:67%"/>
<table id="rounded-corner" width="850px" style="margin-top:10px;">
    <thead>
        <tr>
            <th scope="col" style="width:150px">INTEGRATION</th>
            <th scope="col" style="width:600px">TYPE OF INTEGRATION</th>
            <th scope="col" style="width:100px">STATUS</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var a in ViewBag.typeOfInteg)
      {
        <tr class="odd">
            <td>NIS</td>
            <td id="gid">@a.type</td>
            <td>@a.status</td>
        </tr>
      }
    </tbody>
</table>
<input type="hidden" id="jobID" value="@ViewBag.schemeName"/>
<input type="hidden" id="type" value="@ViewBag.type"/>
<input type="hidden" id="JobType" value="@ViewBag.JobType"/>
<input type="hidden" id="hasFnoRelated" value="@ViewBag.hasRelatedFno"/>

<div id="divDetails" title="Details">
     <div id="loadingscheckJob" style="display:none">
            <img src="@Url.Content("~/Content/images/rel_interstitial_loading.gif")" alt="loading..." />
     </div>
     <div id="tabCreateNe" style="display:none;">
     <h5>NIS Create Network Element For @ViewBag.schemeName</h5>
           <table align="center" width="auto" id="tabCreateNe1" style="font-size:smaller">
               <thead>
               <tr>
                   <th style="background-color:#b9c9fe"></th>
                   <th style="background-color:#b9c9fe">CREATENE_ID</th>
                   <th style="background-color:#b9c9fe">JOB_ID</th>
                   <th style="background-color:#b9c9fe">LOCATIONDETAIL</th>
                   <th style="background-color:#b9c9fe">AREACODE</th>
                   <th style="background-color:#b9c9fe">AREADESCRIPTION</th>
                   <th style="background-color:#b9c9fe">AREAAREACODE</th>
                   <th style="background-color:#b9c9fe">AREAARETCODE</th>
                   <th style="background-color:#b9c9fe">EQUPLOCNTTNAME</th>
                   <th style="background-color:#b9c9fe">EQUPEQUTABBREVIATION</th>
                   <th style="background-color:#b9c9fe">EQUPINDEX</th>
                   <th style="background-color:#b9c9fe">EQUPSTATUS</th>
                   <th style="background-color:#b9c9fe">EQUPMANRABBREVIATION</th>
                   <th style="background-color:#b9c9fe">EQUPEQUMMODEL</th>
               </tr>
               </thead>
               <tbody>    
                   <tr>
                   @for (int i = 0; i < 11; i++)
                   {
                       <td style="white-space:nowrap; background-color:#e8eef4"></td>
                   }
                   </tr>
               </tbody>
           </table>
        </div>
           <div id="Nodata" style ="display:none">
             <h3 align="center" >Not Found.</h3>
           </div>
     <div id="tabCreateCard" style="display:none;">
     <h5>NIS Create Card For @ViewBag.schemeName</h5>
           <table align="center"   width="auto" id="tabCreateCard1" style="font-size:smaller">
               <thead>
                   <tr >
                       <th style="background-color:#b9c9fe"></th>
                       <th style="background-color:#b9c9fe">CREATECARD_ID</th>
                       <th style="background-color:#b9c9fe">G3E_FID</th>
                       <th style="background-color:#b9c9fe">MSAN_FID</th>
                       <th style="background-color:#b9c9fe">RT_CODE</th>
                       <th style="background-color:#b9c9fe">MUX_CODE</th>
                       <th style="background-color:#b9c9fe">SCHEME_NAME</th>
                       <th style="background-color:#b9c9fe">SLOT</th>
                       <th style="background-color:#b9c9fe">CARDNAME</th>
                       <th style="background-color:#b9c9fe">CARDMODEL</th>
                       <th style="background-color:#b9c9fe">TOTALCOUNT</th>
                       <th style="background-color:#b9c9fe">PORTSTARTNO</th>
                   </tr>
               </thead>
               <tbody>    
                   <tr>
                   @for (int i = 0; i < 13; i++)
                   {
                       <td style="white-space:nowrap; background-color:#e8eef4"></td>
                   }
                   </tr>
               </tbody>
           </table>
        </div>
     <div id="tabCreateFC" style="display:none;">
     <h5>NIS Create Frame Container For @ViewBag.schemeName</h5>
             <table align="center" width="auto" id="tabCreateFC1" style="font-size:smaller">
               <thead>
                   <tr>
                       <th style="background-color:#b9c9fe"></th>
                       <th style="background-color:#b9c9fe">CREATEFC_ID</th>
                       <th style="background-color:#b9c9fe">JOB_ID</th>
                       <th style="background-color:#b9c9fe">G3EFID</th>
                       <th style="background-color:#b9c9fe">LOCNTTNAME</th>
                       <th style="background-color:#b9c9fe">FRANNAME</th>
                       <th style="background-color:#b9c9fe">INDEX</th>
                       <th style="background-color:#b9c9fe">STATUS</th>
                       <th style="background-color:#b9c9fe">LOCATIONDETAIL</th>
                       <th style="background-color:#b9c9fe">AREACODE</th>
                       <th style="background-color:#b9c9fe">AREADESCRIPTION</th>
                       <th style="background-color:#b9c9fe">AREAAREACODE</th>
                       <th style="background-color:#b9c9fe">AREAARETCODE</th>
                   </tr>
               </thead>
               <tbody>    
                   <tr>
                   @for (int i = 0; i < 12; i++)
                   {
                       <td style="white-space:nowrap; background-color:#e8eef4"></td>
                   }
                   </tr>
               </tbody>
           </table>
        </div>
         <div id="tabCreateFU" style="display:none;">
     <h5>NIS Create Frame Container For @ViewBag.schemeName</h5>
             <table align="center" width="auto" id="tabCreateFU1" style="font-size:smaller">
               <thead>
                   <tr>
                       <th style="background-color:#b9c9fe"></th>
                       <th style="background-color:#b9c9fe">CREATEFC_ID</th>
                       <th style="background-color:#b9c9fe">JOB_ID</th>
                       <th style="background-color:#b9c9fe">G3E_FID</th>
                       <th style="background-color:#b9c9fe">FRACID</th>
                       <th style="background-color:#b9c9fe">FRAUPOSITION</th>
                       <th style="background-color:#b9c9fe">FRAUNAME</th>
                       <th style="background-color:#b9c9fe">FRAUDISTANCE</th>
                       <th style="background-color:#b9c9fe">FUPTMANRABBREAVIATION</th>
                       <th style="background-color:#b9c9fe">TERMINATIONTYPE</th>
                       <th style="background-color:#b9c9fe">PRODUCTTYPE</th>
                       <th style="background-color:#b9c9fe">COUNTPAIR</th>
                   </tr>
               </thead>
               <tbody>    
                   <tr>
                   @for (int i = 0; i < 12; i++)
                   {
                       <td style="white-space:nowrap; background-color:#e8eef4"></td>
                   }
                   </tr>
               </tbody>
           </table>
        </div>
    </div>
</div>